# {{ ansible_managed }} — LAB-OP sshd drop-in (role t14_sshd_labop)
#
LogLevel {{ t14_sshd_log_level }}
MaxAuthTries 3
MaxSessions 2
KbdInteractiveAuthentication no
ClientAliveCountMax 2
Compression no
PrintMotd no
UseDNS {{ t14_sshd_usedns }}
PermitRootLogin {{ t14_sshd_permit_root_login }}
{% if t14_sshd_password_authentication | length > 0 %}
PasswordAuthentication {{ t14_sshd_password_authentication }}
{% endif %}
{% if t14_sshd_profile == 'strict' %}
AllowTcpForwarding no
AllowAgentForwarding no
X11Forwarding no
TCPKeepAlive no
{% else %}
# Profile "dev": SSH tunnels and agent forwarding allowed.
AllowTcpForwarding yes
AllowAgentForwarding yes
X11Forwarding no
TCPKeepAlive yes
{% endif %}
{% if t14_sshd_use_banner | bool and t14_sshd_banner_exists | bool %}
Banner {{ t14_sshd_banner_path }}
{% endif %}
